/* Recipe List */
#recipe-list {
  list-style-type: none;
  padding: 0;
}

#recipe-list li {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#recipe-list li span {
  cursor: pointer;
  text-decoration: underline;
  color: #4CAF50;
  flex: 1;
}

#recipe-list li .button-container {
  display: flex;
  gap: 10px;
}

#recipe-list li button {
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

#recipe-list li button:first-child {
  background-color: #FFC107;
}

#recipe-list li button:first-child:hover {
  background-color: #FFB300;
}

#recipe-list li button:last-child {
  background-color: #f44336;
  color: white;
}

#recipe-list li button:last-child:hover {
  background-color: #e53935;
}
